
.App {
  text-align: center;
}
.proservicebutton {
  background-color:  #61dafb;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  border-right: 10px;
}

.hire{
  background-color: #222;
  height: 200px;
}

.hireh3{
  color: white;
  text-align: center;
  padding: 50px;
  padding-bottom:0;
  font-size: 35px; 
}

.sidenav{
  font-size: 16px;
}

.listheading{
  font-size: 18px;
  margin-left: 110px;
}

.header-text{
  margin-left: 200px;
  color: white;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
}
.proh3{
  color: white;
  font-size: 30px !important;
  padding-top: 150px;
}

.talent{
  padding: 90px !important;
}
.talentfromtop{
  padding: 70px;
}
.proseller{
  padding: 50px;
}
.prosellerbutton{
  text-align: right;
}
.probutton{
  background-color: white !important;
  color: black;
  border: 1px solid black;
}
.probutton:hover{
  border: 1px solid #222 !important;
  color: #222 !important;
}
.prolabel{
  color: white !important;
}
.viewmoreservice{
  background-color: transparent;
  margin-left: 600px;
}
.exploreheader{
  margin-top: 30px;
}
.iconlabel{
  color: black;
}
.iconlabel:hover{
  text-decoration-line: none;
  color: black;
 
}
.header{
  padding: 20px;
  color: black;
  font-weight: 1000;
  margin-bottom: 20px;
}
.center{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}
.workh3{
  color: white;
  font-size: 50px;
  font-weight: 1000;
}
.workp{
  color: white;
  font-size: 25px
}
.bottom{
  background-color: beige;
  opacity: 0.7;
  position: absolute;
  left:0;
  right: 0;
  top: 100%;
  height: 150px;
}
.quantity{
  font-size: 30px;
}
.gigdiv{
  margin-left: 100px;
}
.link{
  color: #00b22d;;
  margin-left: 70px;
  cursor: pointer;
}
.menu{
  display: inline-block;
  list-style: none;
  position: fixed;
  font-size: 15px;
  color: black;
  margin-left: 20px;
}
.modal-backdrop{
  position: relative !important;
  z-index: 1 !important; 
}
.onhoverdrop{
  min-width: 20rem !important;
  text-align: center !important;
}
.brand{
  color: black;
}
.inputsize{
  width: 50px !important;
  margin: 2px;
}